/* Set font styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(../img/3277+Front.jpg);
    background-position: center center;
background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
position: relative;
display: flexbox;
  }
  
  /* Style the form */
  form {
    background-color: black;
    color: #e7bd74;
    opacity: .5;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h1 a {
    text-decoration: none;
    color: rgb(247, 247, 247);
}
h1 {
    width: 100%;
    opacity: 1;
    font-family: Roboto Serif;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
}
.site-tagline {
    margin: 0;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    text-transform: none;
    font-family: ambroise-std;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #e7bd74;
    margin-bottom: 65px;
}
  /* Style form inputs and labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .flexbox{
    display: flex;
    width: 100%;
  }
  .flex1{
    width: 50%;
  }
  .flex2{
    padding-left: 5%;
    width: 50%;
  }
  select{
    width: 100%;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color:#e7bd74;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #ffb22d;
  }
  
  /* Style error messages */
  .error {
    color: red;
    margin-bottom: 10px;
  }