body{
    background-image: url(../img/3277+Front.jpg);
    background-position: center center;
background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
position: relative;
display: flexbox;
text-align: center;
}
h1 a {
    text-decoration: none;
    color: rgb(247, 247, 247);
}
h1 {
    width: 100%;
    opacity: 1;
    font-family: Roboto Serif;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    margin-bottom:
     20px;
}
.site-tagline {
    margin: 0;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    text-transform: none;
    font-family: ambroise-std;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #e7bd74;
    margin-bottom: 65px;
}
.centertable{
    padding: 5%;
   row-gap: 20px;
   column-gap: 10px;
   margin: 0;
    text-transform: none;
    font-family: ambroise-std;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fffefc;
}
.client{
    text-align: center;
    background-color: #e7bd74;
    padding: 5%;
    border-radius: 10px;
    opacity: .7;

}
.user{
    background-color: #000000;
    padding: 5%;
    border-radius: 10px;
    opacity:0.3 ;
    margin-bottom: 10px;
}
.edit{
    text-align: center;
}
.edit a{
    background-color: #e7bd74;
    padding: 2%;
    border-radius: 10px;
    text-transform: none;
    text-decoration: none;
    font-family: ambroise-std;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fffefc;
}